@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0;
}

h3 {
    margin-bottom: 0;
    text-align: center;
}

small {
    display: block;
    margin-bottom: 1.2em;
    text-align: center;
}

.fa-heart {
    color: red;
}

.loveMe {
    width: 300px;
    background: url('./images/michael-cummins-CZ6KeWtaluM-unsplash.jpg')no-repeat center cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.loveMe .fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) sclae(0);
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
    }
}