@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  display: flex;
}

.panel {
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 3rem;
  position: absolute;
  color: aliceblue;
  left: 20px;
  top: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.one {
  background-image: url(//unsplash.it/960/720);
}

.two {
  background-image: url(//unsplash.it/960/720);
}
.three {
  background-image: url(//unsplash.it/960/720);
}

.four {
  background-image: url(//unsplash.it/960/720);
}

.five {
  background-image: url(//unsplash.it/960/720);
}